{% load crispy_forms_tags %}
{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/cities.js' %}"></script>
</head>

<body>
{% include 'partials/_header.html' %}
<div class="container" style="padding-top: 3%;">
                <h2> Govt Rescue Request <span style="color: #447e9b; float:right">WE WILL WIN THIS WAR</span>  </h2>
                <hr>
                <form method="POST" class="fom-group" name="AddInternship" enctype="multipart/form-data">

                    {% csrf_token %} {{ form|crispy }}

                    <br>
                    <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
                    <br>
                    <select id ="state" class="form-control" name="district" required></select>
                    <script language="javascript">print_state("sts");</script>
                    Pincode*
                    <input type="text" class="form-control" name ="pin" required><br>
                    <input class="btn btn-success" type="submit" name="submit" id="submit" value="Submit" style="float: right">
                </form>


</div>
</body>
</html>